body {
    background-color: #D5DAD4;
    margin-left: 30%;
    margin-right: 30%;
}
h1 {      
    color: #54577C;
}
p {
    font-family: verdana;
    font-size: 20px;
    color: #4A7B9D;
}
div{
    text-align: center;
    background-color: #CCD3CC;
    border-radius: 8px;  
    padding: 1%;
}
input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #f7f7f7
}
input[type=text]:hover {
    background-color: #FFFFFF;
}
input[type=button] {
    width: 50%;
    background-color: #5A87A5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
  
input[type=button]:hover {   
    animation-name: example;
    animation-duration: 7000ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

  @keyframes example {
    0%      {background-color: #5A87A5; margin-top: 8px; width: 50%; transform: rotate3d(0);}  
    50%     {background-color: #4A6F88; margin-top: 160px; width: 60%;transform: rotate3d(1, 1, 1, 360deg);}
    85%     {background-color: red; margin-top: 8px; width: 40%;transform: rotate3d(1, -1, 1, 0deg);}
    90%     {background-color: darkred; margin-top: 8px; width: 20%;transform: rotate3d(-1, 1, -1, 45deg);}
    95%     {background-color: red; margin-top: 8px; width: 40%;transform: rotate3d(1, 1, 1, 45deg);}
    100%    {background-color: #5A87A5; margin-top: 8px; width: 50%;transform: rotate3d(1, 1, 1, 45deg);}
  }
